<web-app>
	<welcome-file-list>  
	
   		<welcome-file>index.jsp</welcome-file>  
   		  
  	</welcome-file-list>  
  	
  	<servlet>
		<servlet-name>validation</servlet-name>
		<servlet-class>validation</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>validation</servlet-name>
		<url-pattern>/validation</url-pattern>   
	</servlet-mapping>
	
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>action</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>/action</url-pattern>   
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>insertion</servlet-name>
		<servlet-class>insertion</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>insertion</servlet-name>
		<url-pattern>/insertion</url-pattern>   
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deletion</servlet-name>
		<servlet-class>deletion</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>deletion</servlet-name>
		<url-pattern>/deletion</url-pattern>   
	</servlet-mapping>
	
	<servlet>
		<servlet-name>updation</servlet-name>
		<servlet-class>updation</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>updation</servlet-name>
		<url-pattern>/updation</url-pattern>   
	</servlet-mapping>
	
	<servlet>
		<servlet-name>view</servlet-name>
		<servlet-class>view</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>view</servlet-name>
		<url-pattern>/view</url-pattern>   
	</servlet-mapping>
	
	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>logout</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>   
	</servlet-mapping>
	
</web-app>